main{
    padding-top: 0;
    background-color: #959b9e ;
    background-image: url("../img/background-3.png");
    background-size: 100%;
}

.index{
    height: 700px;
    padding-bottom:  15px;
}

h2{
    margin-block-start: 0;
}
.index h1{
    font-size:900%;
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding-top: 10%;
}
.index h2{
    font-size:300%;
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding-top: 12%;
}   
.line1{
    padding-left: 7%;
}
.image-container {
    position: relative;
    display: inline-block;
    padding-right: 1%;
    padding-bottom:  1%;  
}
.image-container>img{
    width: 100%;
}
.image-container img:hover{
    transform: scale(1.05);

}
.image-container img {
    transform: scale(1);
    transition: all 0.4s;
    border-style: none;
    border-radius: 25px;
}
.text {
    text-align: center;
    font-size:200%;
}
.text-overlay {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px; 
    font-size: 30px;
    color: #ffffff;
}
.animals-text{
    position:absolute;
    left: 35%;
    font-size:400%;
    color: white;
    top: 50%;
    text-transform: uppercase;
}